*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;;
}


body{
    background: url(images/background_image.jpg) no-repeat center center/ cover;
    height: 100vh;
    position: relative;;
}


#open-btn{
    position: absolute;
    top: 70%;
    left: 10%;
    border: 2px solid #fff;
    padding: 10px 20px;
    color: #fff;
    width: 25%;
    max-width: 300px;
    min-width: 200px;
    height: 50px;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: transparent;
    transition: .3s;
    font-size:1.3rem;
    box-shadow: 0 0 10px #000000;

}

#open-btn:hover{
    background-color: #fff;
    color: #000;
}


#model{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #fff;
    padding: 10px 15px;
    width: 30%;
    max-width: 200px;
    min-width: 150px;
    min-height: 60px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    animation-name: animateModel;
    animation-duration: .5s;
    font-size: 1.1rem;

}


#close-btn{
    cursor: pointer;
    color: #f00;
    font-size: 2rem;;
}


#mainContainer{
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
}


@keyframes animateModel{

    from{
        top: -200px;
        opacity: 0;
    }

   to{
    top: 50%;
    opacity: 1;
   }
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    #open-btn {
        top: 75%;
        left: 5%;
        width: 40%;
        max-width: 250px;
        min-width: 180px;
        font-size: 1.1rem;
    }

    #model {
        width: 50%;
        max-width: 250px;
        min-width: 180px;
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    #open-btn {
        top: 80%;
        left: 5%;
        width: 60%;
        max-width: 200px;
        min-width: 150px;
        font-size: 1rem;
        padding: 8px 15px;
    }

    #model {
        width: 70%;
        max-width: 300px;
        min-width: 200px;
        font-size: 0.9rem;
        padding: 8px 12px;
    }
}
