*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;;
}


body{
    background: url(images/background_image.jpg) no-repeat center center/ cover;
    height: 100vh;
    position: relative;;
}


#open-btn{
    position: absolute;
    top: 70%;
    left: 10%;
    border: 2px solid #fff;
    padding: 10px 20px;
    color: #fff;
    width: 300px;
    height: 50px;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: transparent;
    transition: .3s;
    font-size:1.3rem;
    box-shadow: 0 0 10px #000000;

}

#open-btn:hover{
    background-color: #fff;
    color: #000;
}


#model{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #fff;
    padding: 10px 15px;
    width: 170px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    animation-name: animateModel;
    animation-duration: .5s;
    font-size: 1.1rem;
    
}


#close-btn{
    cursor: pointer;
    color: #f00;
    font-size: 2rem;;
}


#mainContainer{
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
}


@keyframes animateModel{

    from{
        top: -200px;
        opacity: 0;
    }

   ro{
    top: 50%;
    opacity: 1;
   }
}